---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$sidebar-color: {{site.sidebar-color}};
$accent-color: {{site.accent-color}}; 

@import
        "simple-sidebar",
        "layout",
        "custom",
        "syntax-highlighting"
;
