{% include header.html %}
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	    <link rel="stylesheet"  type='text/css' href="{{ site.baseurl}}/assets/css/layouts/marketing.css" \>
	<!--<![endif]-->


</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{{ site.baseurl }}">{{ site.title }}</a>

        <ul class="pure-menu-list">
        	{% capture location %}{{ page.url }}{% endcapture %}
            {% for page in site.pages reversed %}
				<li class="pure-menu-item {% if location == post.url %}pure-menu-selected{% endif %}"><a href="{{ page.url }}" class="pure-menu-link">{{ page.title }}</a></li>
			{% endfor %}

			<li class="pure-menu-item"><a class="github-button pure-menu-link" href="https://github.com/benalexkeen/C3PyO" data-icon="octicon-star" data-style="mega"  aria-label="Star github.com/benalexkeen/C3PyO">Star</a></li>

			<li class="pure-menu-item"><a class="github-button pure-menu-link" href="https://github.com/benalexkeen/C3PyO/fork" data-icon="octicon-git-branch" data-style="mega" aria-label="Fork benalexkeen/C3PyO on GitHub">Fork</a></li>

			<li class="pure-menu-item"><a class="github-button pure-menu-link" href="https://github.com/benalexkeen/C3PyO/archive/master.zip" data-icon="octicon-cloud-download" data-style="mega" aria-label="Download benalexkeen/C3PyO on GitHub">Download</a></li>

        </ul>
    </div>
</div>
