 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a class="page-nav" href="{{site.baseurl}}/"><h2>{{site.title}}</h2></a>
                </li>
                <li>
                    <a class="page-nav" href="{{site.baseurl}}/about/">About</a>
                </li>
                <li>
                    <a class="page-nav" href="{{site.baseurl}}/archive/">Archive</a>
                </li>
                <li>
                    <a class="page-nav" href="{{site.baseurl}}/contact/">Contact</a>
                </li> 
                
                   <li>
                    <a class="page-nav" href="{{site.baseurl}}/search/">Search</a>
                </li>
                <li>
                    <a class="page-nav" href="https://github.com/sharu725/webjeda-sidebar.git">Project on Github</a>
                </li>
                <li>
                    <a class="page-nav" href="https://github.com/sharu725/webjeda-sidebar/archive/master.zip">Download</a>
                </li>
            </ul>
        </div>
